<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Chat-Test</title>

    <!-- vendors:js -->
    <!-- endinject -->
    <script src='/socket.io/socket.io.js'></script>
    <!-- inject:css -->
    <!-- endinject -->
</head>

<body ng-app='chatApp'>
    <div class='chatApp' ng-controller='UserListController'>
        <div class="userList panel panel-default">
            <div class="panel-body">
                <ul>
                    <li ng-repeat='user in usersOnList'>
                        <a href="" ng-click='startChat(user)'>{{user}}</a> </li>
                </ul>
            </div>
        </div>
        <chat-window ng-controller='ChatWindowController' ng-repeat='chat in activeChats' socket-id='{{chat}}'></chat-window>
    </div>


    <!-- inject:js -->
    <!-- endinject -->
</body>

</html>
