@import '../../vendors/bootstrap/bootstrap.less';
.chatApp {
    right: 0px;
    bottom: 0px;
    width: 300px;
    position: fixed;
    margin: 0px;
    border-color: transparent;
}
.chatHeader {} .chatInputWindow {} .chatWindow {
    height: 300px;
    overflow-y: scroll;
    background-color: #f5f5f5;
}
.chatWindow>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.chatInputControlGroup {} .chatInput {} .chatSend {} .chatButton {}
