@import '../../vendors/bootstrap/bootstrap.less';

.chatInput {
    width: 600px;
}
.chatWindow {
    height: 400px;
    width: 600px;
    border-color: #888888;
    border-width: 2px;
    border-style: solid;
    padding: 5px;
    margin-top: 10px;
    overflow: auto;
}
.chatWindow>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
